.eventos-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .eventos-card {
    width: 70%;
    margin: 20px 0;
  }

  .load-more-button {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  .event-description {
    margin: 8px 0;
  }

.event-image{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.titulo{
    font-size: 20px;
}

.search-card {
    width: 70%;
    margin: 20px 0;
    display: flex;
    gap: 24px;
}

.button-search{
    border: none;
    background-color: #1E87DB;
    color: white;
    min-width: 180px;
}

.button-search:hover{
    background-color: #1A78C2;
}
