@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.login-container {
  height: 100vh;
  background:#2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.login-subtitle {
    text-align: left;
    margin-bottom: 1rem;
  }

.inclu {
  color: #46CDFB;
}

.events {
  color: #F59762;
}

.logo {
    width: 150px;
  }